.container {
    display: flex;
    justify-content: center;
}
    
#add-form {
    padding: 25px;
    margin: 20px 0px;
    width: max-content;
    background-color: rgba(255,255,240,0.25);
    border: dashed rgba(200, 50, 50,0.75);
    border-radius: 20px;
}

#add-form .labels {
    font-family: 'Georgia', serif;
    font-size: large;
    margin: 10px;
    color: rgb(200, 50, 50);
}

#add-form .add-form-inputs {
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    border: 1px solid coral;
    text-align: center;
}

.add-form-inputs#name {
    width: 200px;
}

#button {
    margin-top: 15px;
    padding: 5px 12px;
    position: relative;
    left: 40%;
    font-size: medium;
    cursor: pointer;
    background-color: rgba(250,100,50,0.75);
    border-radius: 10px;
    border: none;
    color: ivory;
}

#button:hover {
    background-color: rgba(250,100,50,0.95);
    box-shadow: 0 0 5px coral;
}

#button:active {
    transform: translate(0.5px, 1px);
}