#list {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
}

.user-link {
    color: rgb(200, 50, 50);
    text-decoration: none;
    background-color: rgba(255,245,238,0.5);
    display: inline-table;
    width: 150px;
    margin: 30px;
    padding: 10px 10px 20px 10px;
    border-radius: 15px;
    border-style: dotted solid solid dotted;
    border-block-color: rgba(200, 50, 50,0.75);
    font-family: 'Trebuchet MS', sans-serif;
}

.user-link:hover {
    text-shadow: 0 0 1px coral;
    background-color: rgba(255,250,240,0.75);
}

.user-link:active {
    transform: translate(0.5px, 1px);
}

.user-avatar {
    height: 40px;
    padding: 10px;
    opacity: 0.7;
}

.user-name {
    font-size: large;
    margin: 5px;
}

.number-orders {
    font-size: medium;
    margin: 10px 5px 5px 5px;
}